*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;

}

html{
    font-size: 62.5%;
}
body{
    
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(235, 18%, 26%);

}

.blueBg{
    width: 640px;
    max-height: 440px;
    background-color:white;
    border-radius: 2rem;
    position: relative;
    
   
}

.contents{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

section{
   font-size: x-small;
   margin-left: 3rem;
   display: flex;
   flex-direction: column;
   gap: 10px;
   text-wrap: wrap;
   color: hsl(235, 18%, 26%);
   line-height: 2rem;

}

section h1{
font-size: xx-large;
line-height: 5rem;
text-wrap: wrap;
}

section p {
    line-height: 5rem;
}

section li{
    list-style: none;
    position: relative;
   
    
}
 li::before{
    content: " ";
    position: absolute;
    top: 0;
    left: -8%;
    background-image: url('assets/images/icon-list.svg');
    background-size: contain;
    width: 15px;
    height: 15px;
}



section input {
    line-height: 3rem;
    width: 25rem;
    border-color: hsl(0, 0%,58%);
    text-align: center;
    border-width: 1px;
    border-radius: 5px;
}
.subscribe{
    line-height: 4rem;
    border: 1px solid hsl(0, 0%,58%);
    width: 25rem;
    text-align: center;
    background-color: hsl(234, 29%, 20%);
    color: white;
    border-radius: 5px;
}
#mobileImg{
    display: none;
}



aside{
  margin-top: 2%;
 margin-right: 0.9rem;
}




#desktopImg{
    width:28rem;
    height: 100%;
    border-radius: 1rem;
    
} 


@media(max-width:1000px){
    body{
        background-color: hsl(235, 18%, 26%);
    }

    .container{
        width: 100%;
    }
}

@media(max-width:650px){
    .container{
        background-color: white;
    }
    .contents{
        display:flex ;
        flex-direction: column;
        justify-content: center;
    }
    .blueBg{
        width: 100%;
    }
    #desktopImg{
        display: none;
    }
    .contents{
        display: flex;
        flex-direction: column;
    }
    #mobileImg{
        display: none;
    }
    }
    

