*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;

}

html{
    font-size: 62.5%;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(234, 29%, 20%);;
}

.blueBg{
    width: 75%;
    height: 68%;
    background-color:white;
    border-radius: 2rem;
    position: relative;
   
   
}

.contents{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

section{
   font-size: x-small;
   margin-left: 3rem;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 10px;
}

section h1{
font-size: xx-large;
line-height: 5rem;
}

section p {
    line-height: 30px;
}


aside{
  margin-top: 2%;
 margin-right: 0.9rem;
}




img{
    width:28rem;
    border-radius: 1rem;
    
} 

